/*  your css code here. If applicable */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100px; */
}
.card {
	width: 300px;
	padding: 20px;
	background-color: lightblue;
	box-shadow: 2px 5px 10px rgba(0,0,0,0.2);
	text-align:center;
	/* justify-content:center */
	border-radius:5px;
}
.card img {
	width:300px;
	border-radius:5px;
}
 button {
	padding:20px;
	background-color:orange;
	color: white;
	border-radius:15px;
	font-size: 16px;
}
